<div class="layout-login-centered-boxed__form card" >
  <div class="d-flex justify-content-center mt-2 mb-4 navbar-light">
    <a href="" class="navbar-brand" style="min-width: 0">
      <img class="navbar-brand-icon" src="<%= image_path('logo-icon.png')%>" width="30" alt="DrawERD">
      <span>DrawERD</span>
    </a>
  </div>
  <%= render 'layouts/messages' %>
  <%= form_for(@user, url: registrations_path(@user)) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="form-group">
      <% if @invitation %>
        <%= f.hidden_field :invite_token, value: @invitation.token %>
      <% else %>   
        <%= f.fields_for :own_company do  |c| %>
        <%= c.label :subdomain, class: 'text-label' %>
          <div class="input-group input-group-merge">
            <%= c.text_field :subdomain, autofocus: true, class: "form-control form-control-prepended" %>
            
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="material-icons">group</span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'text-label' %>
      <div class="input-group input-group-merge">
        <%= f.email_field :email, class: "form-control form-control-prepended", disabled: @invitation.present? %>
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="material-icons">email</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex justify-content-between">
        <%= f.label :password, class: 'text-label' %>
        <small><em>(6 characters minimum)</em></small>
      </div>
      <div class="input-group input-group-merge">
        <%= f.password_field :password, class: "form-control form-control-prepended" %>
        
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="material-icons">vpn_key</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up", class: 'btn btn-block btn-success', data: {disable_with: 'waiting...'} %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
