<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="database diagram builder for developers to create, collaborate and visualize entity relationship diagrams.">
    <meta name="keywords" content="database diagram, database design, data analysts, develoepers, free tools, database schema design">

    <meta property="og:title" content="DrawERD - ✨ Database schema diagrams">
    <meta property="og:description" content="Simple, beautiful database diagram editor for developers to create, collaborate and visualize their entity relationship diagrams.">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://drawerd.com">
    <meta property="og:site_name" content="DrawERD">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@DrawerdHq">
    <meta name="twitter:creator" content="@hooopo">
    <title>DrawERD -✨ Makes it easy to visualize your database structure</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="landing_assets/img/brand/favicon.png" type="image/png"><!-- Font Awesome -->
    <link rel="stylesheet" href="landing_assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="landing_assets/css/quick-website.css" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                        We use cookies so that our themes work for you. By using our website, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="pages/utility/terms.html" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Go Pro -->
<!--     <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-dark text-truncate rounded-0 py-2 d-none d-lg-block" style="z-index: 1000;" target="_blank">
        <strong>This is a free demo.</strong> Click here to open the full version →
    </a> -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img alt="Image placeholder" src="landing_assets/img/brand/logo.png" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
  <!--                   <li class="nav-item ">
                        <a class="nav-link" href="index.html">Overview</a>
                    </li>
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu dropdown-menu-single">
                            <a href="index.html" class="dropdown-item">Homepage</a>
                            <a href="about.html" class="dropdown-item">About us</a>
                            <a href="contact.html" class="dropdown-item">Contact</a>
                            <div class="dropdown-divider"></div>
                            <a href="login.html" class="dropdown-item">Login</a>
                        </div>
                    </li> -->
                    <li class="nav-item ">
                        <a class="nav-link" href="https://help.drawerd.com">Docs</a>
                    </li>
                </ul>
                <!-- Button -->
                <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="<%= new_registration_path %>">
                    Sign up Free
                </a>
                <a class="navbar-btn btn btn-sm btn-secondary d-none d-lg-inline-block ml-3" href="<%= new_session_path %>">
                    Login
                </a>
                <% if current_user %>
                    <a class="navbar-btn btn btn-sm btn-dark d-none d-lg-inline-block ml-3" href="<%= projects_url(subdomain: current_company.subdomain) %>">
                        Go to App
                    </a>
                <% end %>
                <!-- Mobile button -->
                <div class="d-lg-none text-center">
                    <a class="btn btn-block btn-sm btn-primary" href="<%= new_registration_path %>">Sign up Free
                    </a>
                    <a class="btn-block btn-sm btn-secondary" href="<%= new_session_path %>">Login
                    </a>
                    <% if current_user %>
                        <a class="btn btn-block btn-sm btn-dark" href="<%= projects_url(subdomain: current_company.subdomain) %>">Go to App
                        </a>
                    <% end %>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-7">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                    <!-- Image -->
                    <figure class="w-100">
                        <img alt="Image placeholder" src="landing_assets/img/svg/illustrations/illustration-3.svg" class="img-fluid mw-md-120">
                    </figure>
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                    <!-- Heading -->
                    <h1 class="display-4 text-center text-md-left mb-3">
                        Create, visualize and collaborate on your database entity relationship diagrams.
                    </h1>
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted">
                        Database diagram builder for developers to create, collaborate and visualize entity relationship diagrams.
                    </p>
                    <!-- Buttons -->
                    <div class="text-center text-md-left mt-5">
                        <a href="<%= new_registration_path %>" class="btn btn-primary btn-icon" target="_blank">
                            <span class="btn-inner--text">Get started</span>
                            <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                        </a>
                        <a href="https://help.drawerd.com" class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">See Docs</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
        <div class="container">
            <!-- Title -->
            <!-- Section title -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6">
                    <span class="badge badge-soft-success badge-pill badge-lg">
                        Features
                    </span>
                    <h2 class=" mt-4">Why DrawERD?</h2>
                    <div class="mt-2">
                        <p class="lead lh-180"></p>
                    </div>
                </div>
            </div>
            <!-- Card -->
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="landing_assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Teamwork</h5>
                            <p class="text-muted mb-0">Easily visualize your database structure. Having a living document of your app schema helps when architecting a new feature or onboarding a new team member.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="landing_assets/img/svg/illustrations/illustration-6.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Auto Layout</h5>
                            <p class="text-muted mb-0">No need to drag and drop cards manually, DrawERD will automatically render a fresh and beautiful SVG diagram according to your entities and relationships.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="landing_assets/img/svg/illustrations/illustration-7.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Integrate with your SQL Databases</h5>
                            <p class="text-muted mb-0">Quickly generate your diagrams from SQL dump files.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="landing_assets/img/svg/illustrations/illustration-8.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Share everywhere</h5>
                            <p class="text-muted mb-0">Share your diagrams online with your colleagues and customers easily.</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="landing_assets/img/svg/illustrations/illustration-9.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Export to SVG & DDL</h5>
                            <p class="text-muted mb-0">Export ERD to SQL DDL file, MySQL, Postgresql and SQL Server supported.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="landing_assets/img/svg/illustrations/illustration-10.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Large project friendly</h5>
                            <p class="text-muted mb-0">If your database already has hundreds of tables and you plan to migrate from a monolithic application to microservices, then the grouping function of DrawERD is an optimal tool.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="slice slice-lg">
        <div class="container">
            <div class="py-6">
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-5 order-lg-2">
                        <h5 class="h3">Need break a Monolith into Microservices?</h5>
                        <p class="lead my-4">
                            If your database already has hundreds of tables and you plan to migrate from a monolithic application to a MicroService, then DrawERD's grouping function is the best tool. By simulating the grouping of modules, you can clearly determine which entity is placed in which service More reasonable.
                        </p>
                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">Perfect for large project</span>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-store-alt"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">Ready to be break monolith to microservices</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="card mb-0 mr-lg-5">
                            <div class="card-body p-2">
                                <img alt="Image placeholder" src="landing_assets/img/brand/full.png" class="img-fluid shadow rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-6">
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-5">
                        <h5 class="h3">Need to ignore the details and view the macro picture?</h5>
                        <p class="lead my-4">
                            With simple mode, you can ignore the details and view the macro view, showing only the table and relationships.
                        </p>

                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-0 ml-lg-5">
                            <div class="card-body p-2">
                                <img alt="Image placeholder" src="landing_assets/img/brand/simple.png" class="img-fluid shadow rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- <section class="slice pt-0">
        <div class="container position-relative zindex-100">
            <div class="row">
                <div class="col-xl-4 col-sm-6 mt-n7">
                    <div class="card">
                        <div class="d-flex p-5">
                            <div>
                                <span class="badge badge-warning badge-pill">New</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Listen to the nature</h5>
                                <p class="text-muted mb-0">
                                    Design made simple with a clean and smart HTML markup.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mt-sm-n7">
                    <div class="card">
                        <div class="d-flex p-5">
                            <div>
                                <span class="badge badge-success badge-pill">Tips</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Rules not to follow</h5>
                                <p class="text-muted mb-0">
                                    Design made simple with a clean and smart HTML markup.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-6 mt-xl-n7">
                    <div class="card">
                        <div class="d-flex p-5">
                            <div>
                                <span class="badge badge-danger badge-pill">Update</span>
                            </div>
                            <div class="pl-3">
                                <h5 class="lh-130">Beware the water</h5>
                                <p class="text-muted mb-0">
                                    Design made simple with a clean and smart HTML markup.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="d-flex p-5">
                            <div>
                                <span class="badge badge-warning badge-pill">New</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Listen to the nature</h5>
                                <p class="text-muted mb-0">
                                    Design made simple with a clean and smart HTML markup.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="d-flex p-5">
                            <div>
                                <span class="badge badge-success badge-pill">Tips</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Rules not to follow</h5>
                                <p class="text-muted mb-0">
                                    Design made simple with a clean and smart HTML markup.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-6">
                    <div class="card">
                        <div class="d-flex p-5">
                            <div>
                                <span class="badge badge-danger badge-pill">Update</span>
                            </div>
                            <div class="pl-3">
                                <h5 class="lh-130">Beware the water</h5>
                                <p class="text-muted mb-0">
                                    Design made simple with a clean and smart HTML markup.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    
    <section class="slice slice-lg bg-section-secondary">
        <div class="container text-center">
            <div class="row justify-content-center mb-6">
                <div class="col-lg-8">
                    <!-- Title -->
                    <h2 class="h1 strong-600">
                        Pricing
                    </h2>
                    <!-- Text -->
                    <p class="text-muted">
                        Start with free trial 14 days. Cancel at anytime.
                    </p>
                </div>
            </div>
            <!-- Pricing -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md">
                    <div class="card card-pricing text-center px-3 hover-scale-110">
                        <div class="card-header py-5 border-0 delimiter-bottom">
                            <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">0</span></div>
                            <span class="h6 text-muted">Free</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-sm mb-4">
                                <li class="py-2">Up to 100 diagrams</li>
                                <li class="py-2">Private & Embedded diagrams</li>
                                <li class="py-2">Table Group</li>
                                <li class="py-2">Custom diagram colors</li>
                                <li class="py-2">SQL import</li>
                                <li class="py-2">Export to SVG</li>
                                <li class="py-2">Up to 5 team members</li>
                            </ul>
                            <a href="<%= new_registration_path %>" class="btn btn-sm btn-warning hover-translate-y-n3 hover-shadow-lg mb-3">Purchase now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md">
                    <div class="card card-pricing bg-dark text-center px-3 border-0 hover-scale-110">
                        <div class="card-header py-5 border-0 delimiter-bottom">
                            <div class="h1 text-white text-center mb-0">$<span class="price font-weight-bolder">5 / <sub>mo</sub></span></div>
                            <span class="h6 text-white">Pro</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-sm mb-4">
                                <li class="py-2">Up to 300 diagrams</li>
                                <li class="py-2">Private & Embedded diagrams</li>
                                <li class="py-2">Table Group</li>
                                <li class="py-2">Custom diagram colors</li>
                                <li class="py-2">SQL import</li>
                                <li class="py-2">Export to SVG</li>
                                <li class="py-2">Up to 50 team members</li>
                            </ul>
                            <a href="<%= new_registration_path %>" class="btn btn-sm btn-warning hover-translate-y-n3 hover-shadow-lg mb-3">Purchase now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md">
                    <div class="card card-pricing text-center px-3 hover-scale-110">
                        <div class="card-header py-5 border-0 delimiter-bottom">
                            <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">49 / <sub>mo</sub></span></div>
                            <span class="h6 text-muted">Enterprise</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-sm mb-4">
                                <li class="py-2">Unlimitted diagrams</li>
                                <li class="py-2">Private & Embedded diagrams</li>
                                <li class="py-2">Table Group</li>
                                <li class="py-2">Custom diagram colors</li>
                                <li class="py-2">SQL import</li>
                                <li class="py-2">Export to SVG</li>
                                <li class="py-2">Unlimitted team members</li>
                                <li class="py-2">Custom services</li>
                            </ul>
                            <a href="<%= new_registration_path %>" class="btn btn-sm btn-warning hover-translate-y-n3 hover-shadow-lg mb-3">Purchase now</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mt-5 text-center">
                <p class="mb-2">
                    Building an open source project? We offer a free plan with higher limits to support open source projects.
                </p>
                <a href="https://twitter.com/hooopo" class="text-primary text-underline--dashed">Contact us<i data-feather="arrow-right" class="ml-2"></i></a>
            </div>
        </div>
    </section>
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class=" fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->
                        <a href="/">
                            <img alt="Image placeholder" width="100" src="landing_assets/img/brand/logo_box.png" id="footer-logo">
                        </a>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">Create, visualize and collaborate on your database entity relationship diagrams.</p>
                        <!-- Social -->
                        <ul class="nav mt-4">
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/drawerd" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://twitter.com/hooopo" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Account</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Notifications</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">About</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Company</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 <a href="https://drawerd.com" class="font-weight-bold" target="_blank">DrawERD</a>. All rights reserved
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Terms
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Privacy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Cookies
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="landing_assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="landing_assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="landing_assets/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="landing_assets/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Quick JS -->
    <script src="landing_assets/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>