
<div class="container-fluid page__container">

  <div width='100%'>
    <% @tables.each do |table| %>
      <div class="card mt-2">
        <div class="card-body">
          <h5 id="table-<%= table.id %>" class="card-title"><i class="material-icons icon-20pt">grid_on</i> &nbsp;&nbsp;<%= table.name %><small class="text-muted float-right"><%= table.comment %></small></h5>
          <table class="table table-borderless" style="background-color: <%= table.group&.color.presence || 'white' %>">
            <thead class="thead-light">
              <tr class="">
                <th class="w-15">Name</th>
                <th class="w-15">Column Type</th>
                <th class="w-15">Ext Info</th>
                <th class="w-15" >Ref</th>
                <th class="w-15">Default</th>
                <th class="w-auto">Comment</th>
              </tr>
            </thead>
            <tbody class="sortable">
              <% table.columns.order("sort asc, id asc").each do |column| %>
                <tr id="<%= column.sortable_id %>">
                  <td><%= column.name %></td>
                  <td><%= column.column_type %></td>
                  <td><%= column.ext_doc_info.html_safe %></td>
                  <td><%= column.relationships.map {|rel| link_to rel.column.doc_desc, "#table-#{rel.table_id}" if rel.column }.compact.map{|link| "→ #{link}".html_safe }.join("<br>").html_safe %></td>
                  <td><%= column.default_value %></td>
                  <td><%= column.comment %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
   <% end %>
  </div>
</div>

<% content_for :footer_scripts do %>
  <script type="text/javascript">
    $(function() {
      $('.sortable').railsSortable();
    });
  </script> 
<% end %>

