
<div class="container-fluid page__container">
  <div class="button-box float-right">
    <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Adapter</th>
      <th scope="col">Tables Count</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <th scope="row"><%= project.id %></th>
        <td><%= project.name %></td>
        <td><span class="badge badge-info"><%= project.adapter %></span></td>
        <td><%= project.tables.count %></td>
        <td><%= project.created_at %></td>
        <td><%= link_to "Setting", edit_project_path(project), class: 'btn btn-sm btn-outline-secondary' %></td>
        <td><%= link_to "Doc", docs_project_path(project), class: 'btn btn-sm btn-outline-dark' %></td>
        <td><%= link_to "ERD", project_path(project), class: 'btn btn-sm btn-outline-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>