<div class="container-fluid page__container">

  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Notice</strong></p>
        <p class="text-muted">Adapter can't change after created.</p>
        <p class="text-muted">Import Postgresql table & relation: <%= link_to "https://help.drawerd.com/importing/importing-postgresql", "https://help.drawerd.com/importing/importing-postgresql" %></p>
        <p class="text-muted">Import MySQL table & relation: <%= link_to "https://help.drawerd.com/importing/importing-mysql", "https://help.drawerd.com/importing/importing-mysql" %></p>
        <p class="text-muted">
          If there are not any foreign keys in your database schema,  you don't need to import relations CSV file. You can use `auto draw` feature to detect relationship automatically. It has simple rule, for example:
          <pre>
            users.account_id -> accouts.id
          </pre>
        </p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <%= form_for(@project) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :adapter %>
            <%= f.select :adapter, Project.adapters, {}, class: 'form-control' %>
          </div>

          <div class='form-group'>
            <%= f.label :table_csv %>
            <div class="custom-file">
              <%= f.label :table_csv, class: 'custom-file-label', value: 'Import tables from csv' %>
              <%= f.hidden_field :table_csv, value: @project.cached_table_csv_data %>
              <%= f.file_field :table_csv, class: 'custom-file-input' %>
            </div>
          </div>

          <div class='form-group'>
            <%= f.label :relation_csv %>
            <div class="custom-file">
              <%= f.label :relation_csv, class: 'custom-file-label', value: 'Import relations from csv' %>
              <%= f.hidden_field :relation_csv, value: @project.cached_relation_csv_data %>
              <%= f.file_field :relation_csv, class: 'custom-file-input' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :auto_draw %>
            <%= f.select :auto_draw, %w[No Yes], {}, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit 'Submit', class: 'btn btn-success', data: {disable_with: 'waiting...'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>