
  <div class="button-box float-right">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop0" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <%= link_to 'Copy SVG Link', 'javascrpt:void()', id: 'copy_svg_link', title: 'Copy SVG Link', 'data-clipboard-text': render_svg_project_url(@project, params.permit(:mode, :layout, :group_id).merge(share_key: @project.share_key)), class: 'dropdown-item' %>
        <%= link_to 'Download', render_svg_project_path(@project, params.permit(:mode, :layout, :group_id, :mode).merge(download: true)), class: 'dropdown-item' %>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <%= link_to "All", project_path(params.permit(:mode, :layout, :group_id).merge(group_id: nil)), class: 'dropdown-item' %>
          <% @project.groups.each do |group| %>
          <%= link_to group.name, project_path(params.permit(:mode, :layout, :group_id).merge(group_id: group.id)), class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Layout
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <%= link_to 'Fdp', project_path(params.permit(:mode, :layout, :group_id).merge(layout: :fdp)), class: 'dropdown-item' %>
          <%= link_to 'Crico', project_path(params.permit(:mode, :layout, :group_id).merge(layout: :circo)), class: 'dropdown-item' %>
          <%= link_to 'Dot', project_path(params.permit(:mode, :layout, :group_id).merge(layout: :dot)), class: 'dropdown-item' %>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mode
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <%= link_to 'Full', project_path(params.permit(:mode, :layout, :group_id).merge(mode: :full)), class: 'dropdown-item' %>
          <%= link_to 'Accurate', project_path(params.permit(:mode, :layout, :group_id).merge(mode: :accurate)), class: 'dropdown-item' %>
          <%= link_to 'Simple', project_path(params.permit(:mode, :layout, :group_id).merge(mode: :simple)), class: 'dropdown-item' %>
        </div>
      </div>
    </div>
    
    <%= link_to 'Add Table', "#", data: {toggle: "modal", target: "#new-table", remote: new_project_table_path(@project)}, class: 'btn btn-primary' %>
    <%= link_to 'Add Relationship', "#", data: {toggle: "modal", target: "#new-relationship", remote: new_project_relationship_path(@project)}, class: 'btn btn-primary' %>
    <%= link_to 'Add Group', "#", data: {toggle: "modal", target: "#new-group", remote: new_project_group_path(@project)}, class: 'btn btn-primary' %>


  </div>
  <div width='100%' class='svg-container'>
    <object id='svg-object' type="image/svg+xml" data="<%= render_svg_project_path(@project, params.permit(:mode, :layout, :group_id, :id))%>" width="98%"></object>

  </div>


<% content_for :footer do %>
  <!-- New Group Modal -->
  <div id="new-group" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          Loading...
        </div> <!-- // END .modal-body -->
      </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
  </div> <!-- // END .modal -->

  <div id="new-table" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">

      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          Loading...
        </div> <!-- // END .modal-body -->
      </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
  </div> <!-- // END .modal -->


  <div id="new-relationship" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">

      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Relationship</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          Loading...
        </div> <!-- // END .modal-body -->
      </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
  </div> <!-- // END .modal -->

  <div id="edit-relationship" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Relationship</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          Loading...
        </div> <!-- // END .modal-body -->
      </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
  </div> <!-- // END .modal -->

  <div id="edit-table" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">

      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          Loading...
        </div> <!-- // END .modal-body -->
      </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
  </div> <!-- // END .modal -->
<% end %>