<div class='nested-fields'>
  <div class="form-row form-row-sm">
    <div class="form-group form-group-sm col-md-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control form-control-sm' %>
    </div>

    <div class="form-group form-group-sm col-md-3">
      <%= f.label :column_type %>
      <%= f.select :column_type, Column::TYPES[@project.adapter.to_sym], {}, class: 'form-control form-control-sm' %>
    </div>

    <div class="form-group form-group-sm col-md-3">
      <%= f.label :comment %>
      <%= f.text_field :comment, class: 'form-control form-control-sm' %>
    </div>

    <div class="form-group form-group-sm col-md-1">
      <%= f.label :nullable %><br/>
      <%= f.check_box :nullable, class: 'form-control-sm ' %>
    </div>

    <div class="form-group form-group-sm col-md-1">
      <%= f.label :is_pk %><br/>
      <%= f.check_box :is_pk, class: 'form-control-sm' %>
    </div>

    <div class="form-group form-group-sm col-md-1">
      <%= f.label :remove %>
      <%= link_to_remove_association '<i class="material-icons icon-20pt">close</i>'.html_safe, f %>
    </div>
  </div>
</div>