<%= form_for([@project, @table], remote: true, authenticity_token: true) do |f| %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :comment %>
      <%= f.text_field :comment, class: 'form-control' %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :group %>
      <%= f.select :group_id, @project.groups.map{|x| [x.name, x.id]}, {include_blank: true}, class: 'form-control' %>
    </div>
  </div>
   
  <h5 class="modal-title">Add Columns</h5>
  <div id='columns' class="sortable">
    <%= f.fields_for :columns, @table.columns.order("sort asc, id asc") do |column| %>
      <%= render 'column_fields', :f => column %>
    <% end %>
    <div class='form-group'>
      <%= link_to_add_association '<i class="material-icons">add</i>'.html_safe, f, :columns %>
    </div>
  </div>

  <div class="form-group float-right">
    <% if @table.persisted? %>
      <%= link_to 'Destroy', project_table_path(@project, @table), method: :delete, class: 'btn btn-secondary', data: {disable_with: 'waiting...'}, remote: true %>
    <% end %>
    <%= f.submit 'Submit', class: 'btn btn-success', data: {disable_with: 'waiting...', remote: true} %>
  </div>
<% end %>

<script type="text/javascript">
  $('.sortable').railsSortable({items: "> .nested-fields"});
</script>