<div class="navbar navbar-expand-sm navbar-main navbar-dark bg-white pr-0" id="navbar" data-primary>
  <div class="container-fluid p-0">
    <!-- Navbar toggler -->
    <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Brand -->
    <a href="<%= current_user ? projects_path : root_path %>" class="navbar-brand">
      <span class="navbar-brand-icon">
        <img height='55px' src="<%= image_path("logo.png") %>" >
      </span>
    </a>
    
    <ul class="nav navbar-nav ml-auto d-none d-md-flex">
      <li class="nav-item">
        <a href="https://help.drawerd.com/" class="nav-link" target="_blank">
          <i class="material-icons">help_outline</i> Get Help
        </a>
      </li>
      <% if Subdomain.matches?(request) && current_user %>
        <li class="nav-item mr-3">
          <a href="<%= new_subscription_path %>" class="btn btn-outline-warning">
            <i class="material-icons m  r-1">monetization_on</i> PURCHASE PRO
          </a>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
      <% if current_user %>
        <%= render "layouts/login_info" %>
      <% else %>
        <%= render 'layouts/goto_login' %>
      <% end %>
    </ul>

  </div>
</div>
